<header>
	<nav class="navbar">
			<div class="logoimg">
					<img  class="logo-imagem" src="assets/imagens/logo.png" alt="logo site">
			</div>
			<span class="racingline"></span>
			<div class="listbox">
					<ul class="list">
							<li class="listitem"><a [routerLink] = "['/']" class="listfont">HOME</a></li>
							<li class="listitem"><a [routerLink] = "['/equipe']" class="listfont">Equipe</a></li>
							<li class="listitem"><a [routerLink] = "['/projeto']" class="listfont">Projetos</a></li>
							<li class="listitem"><a [routerLink] = "['/objetivos']" class="listfont">Objetivos</a></li>
					</ul>
			</div>
	</nav>
</header>
