<div class="box-introduction">
	<h1>Nosos Centros de Apoio Operacionais</h1>
	<div class="content-info">

		<div id="wrapper">
      <div id="carousel">
        <div id="content">

          <div class="carousel-item">
            <a href="https://www.mprj.mp.br/conheca-o-mprj/areas-de-atuacao/criminal" target="_blank">
              <div class="carousel-content">
								<img src="https://www.mprj.mp.br/documents/20184/644201/criminal.png/b6fa387f-9456-6cfa-787e-866bc605c381?t=1513627458996" />
              </div>
            </a>
          </div>

					<div class="carousel-item">
            <a href="https://www.mprj.mp.br/conheca-o-mprj/areas-de-atuacao/infancia-e-juventude" target="_blank">
              <div class="carousel-content">
								<img src="https://www.mprj.mp.br/documents/20184/135969/infancia_juventude.png/4851a39c-46ed-fc16-16e7-640d58b6cc3d?t=1513628036586" />
              </div>
            </a>
          </div>

					<div class="carousel-item">
            <a href="https://www.mprj.mp.br/conheca-o-mprj/areas-de-atuacao/civel" target="_blank">
              <div class="carousel-content">
								<img src="https://www.mprj.mp.br/documents/20184/26123/civel.png/daa09ff3-0c73-3053-9e44-a3e9db25c4ba?t=1620245149686" />
              </div>
            </a>
          </div>

					<div class="carousel-item">
            <a href="https://www.mprj.mp.br/conheca-o-mprj/areas-de-atuacao/idoso-e-pessoa-c/-deficiencia" target="_blank" >
              <div class="carousel-content">
								<img src="https://www.mprj.mp.br/documents/20184/27129/cao_idoso_130px.png/01c98a63-d750-2322-b092-003bbe328df5?t=1621434036637" />
              </div>
            </a>
          </div>

					<div class="carousel-item">
            <a href="https://www.mprj.mp.br/conheca-o-mprj/areas-de-atuacao/cidadania" target="_blank">
              <div class="carousel-content">
								<img src="https://www.mprj.mp.br/documents/20184/25421/cao_cidadania_130px.png/1c59fb5a-2613-2373-5243-f627047cf9c6?t=1621434097665" />
              </div>
            </a>
          </div>

					<div class="carousel-item">
            <a href="https://www.mprj.mp.br/conheca-o-mprj/areas-de-atuacao/centros-de-apoio/procuradorias" target="_blank" >
              <div class="carousel-content">
								<img src="https://www.mprj.mp.br/documents/20184/647042/procuradorias_130px.png/3fe16bfd-4c62-ee96-aaca-040a92c55875?t=1517507970651" />
              </div>
            </a>
          </div>

					<div class="carousel-item">
            <a href="https://www.mprj.mp.br/conheca-o-mprj/areas-de-atuacao/investigacao-penal" target="_blank" >
              <div class="carousel-content">
								<img src="https://www.mprj.mp.br/documents/20184/2005931/invest_penal.png/1b70752c-0419-3600-564c-7398244f292d?t=1621438290435" />
              </div>
            </a>
          </div>

					<div class="carousel-item">
            <a href="" target="_blank" >
              <div class="carousel-content">
								<img src="https://www.mprj.mp.br/documents/20184/57443/educacao.png/9e533d4f-6077-7bd4-6bbd-9c73979419a9?t=1513627511848" />
              </div>
            </a>
          </div>

					<div class="carousel-item">
            <a href="https://www.mprj.mp.br/conheca-o-mprj/areas-de-atuacao/educacao" target="_blank" >
              <div class="carousel-content">
								<img src="https://www.mprj.mp.br/documents/20184/226701/cao_meio_ambiente_130px.png/bcfa4d9b-1f42-733c-4c26-525542b8258d?t=1623418718913" />
              </div>
            </a>
          </div>


					<div class="carousel-item">
            <a href="https://www.mprj.mp.br/conheca-o-mprj/areas-de-atuacao/meio-ambiente" target="_blank" >
              <div class="carousel-content">
								<img src="https://www.mprj.mp.br/documents/20184/125955/cao_violencia_domestica_130px.png/75116d66-c91f-cd7f-5f30-275a44852cde?t=1621435747298" />
              </div>
            </a>
          </div>

					<div class="carousel-item">
            <a href="https://www.mprj.mp.br/conheca-o-mprj/areas-de-atuacao/saude" target="_blank" >
              <div class="carousel-content">
								<img src="https://www.mprj.mp.br/documents/20184/86541/saude.png/e6a1ca77-e4d0-cdb3-e4e1-19ef84cd3120?t=1513628482624" />
              </div>
            </a>
          </div>


					<div class="carousel-item">
            <a href="https://www.mprj.mp.br/conheca-o-mprj/areas-de-atuacao/consumidor" target="_blank" >
              <div class="carousel-content">
								<img src="https://www.mprj.mp.br/documents/20184/30266/consumidor.png/359c92b0-5746-f216-1530-af99a8e608c7?t=1513627384393" />
              </div>
            </a>
          </div>

					<div class="carousel-item">
            <a href="https://www.mprj.mp.br/conheca-o-mprj/areas-de-atuacao/eleitoral" target="_blank" >
              <div class="carousel-content">
								<img src="https://www.mprj.mp.br/documents/20184/30061/eleitoral.png/1ca366d9-ea4f-2a20-a1bd-588702fb880f?t=1513627588870" />
              </div>
            </a>
          </div>

					<div class="carousel-item">
            <a href="https://www.mprj.mp.br/conheca-o-mprj/areas-de-atuacao/execucao-penal" target="_blank" >
              <div class="carousel-content">
								<img src="https://www.mprj.mp.br/documents/20184/645069/execucao_penal.png/bbeddf54-cabf-047c-7fa0-276625c2000e?t=1513627684406" />
              </div>
            </a>
          </div>

				</div>
      </div>
      <button id="prev">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
        >
          <path fill="none" d="M0 0h24v24H0V0z" />
          <path d="M15.61 7.41L14.2 6l-6 6 6 6 1.41-1.41L11.03 12l4.58-4.59z" />
        </svg>
      </button>
      <button id="next">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
        >
          <path fill="none" d="M0 0h24v24H0V0z" />
          <path d="M10.02 6L8.61 7.41 13.19 12l-4.58 4.59L10.02 18l6-6-6-6z" />
        </svg>
      </button>
    </div>
	</div>
</div>



<script src="assets/js/script.js"></script>

