<h1>Equipe de Projetos e Campanhas</h1>
<div class="modal">
	<div class="modal-linha">
		<div class="box-user">
			<img  class="user" src="assets/imagens/user.jpeg" alt="user"/>
			<div class="bio">
				<h5>Lua</h5>
				<br>
				<br>
				<span>Função</span>
			</div>
		</div>

		<div class="box-user">
			<img  class="user" src="assets/imagens/user.jpeg" alt="user"/>
			<div class="bio">
				<h5>Mateus</h5>
				<br>
				<br>
				<span>x</span>
			</div>
		</div>
	</div>
	<div class="modal-linha">
		<div class="box-user">
			<img  class="user" src="assets/imagens/user.jpeg" alt="user"/>
			<div class="bio">
				<h5>Lucas</h5>
				<br>
				<br>
				<span>X</span>
			</div>
		</div>

		<div class="box-user">
			<img  class="user" src="assets/imagens/user.jpeg" alt="user"/>
			<div class="bio">
				<h5>Mateus</h5>
				<br>
				<br>
				<span>X</span>
			</div>
		</div>
	</div>
	<div class="modal-linha">
		<div class="box-user">
			<img  class="user" src="assets/imagens/user.jpeg" alt="user"/>
			<div class="bio">
				<h5>Paulo</h5>
				<br>
				<br>
				<span>X</span>
			</div>
		</div>

		<div class="box-user">
			<img  class="user" src="assets/imagens/user.jpeg" alt="user"/>
			<div class="bio">
				<h5>Simone</h5>
				<br>
				<br>
				<span>X</span>
			</div>
		</div>
	</div>
</div>
