<main class="main">
	<img class="backdrop" src="assets/imagens/fundo.jpeg" alt="imagem de estudantes em grupo">

	<div id="modal-container" class="modal-container">
		<div class="modal">
				<button class="fechar" id="fechar">X</button>
				<p>As Promotorias de Justiça que atuam nesta área visam garantir o acesso de toda a população a um serviço educacional que proporcione aos estudantes o seu pleno desenvolvimento.</p>
				<hr>
				<p>Suas atividades vão desde a verificação do atendimento à carga horária letiva legalmente obrigatória até a análise quanto ao cumprimento dos percentuais constitucionalmente definidos como mínimos para o investimento público em educação.</p>
				<hr>
				<p>	O Ministério Público do Estado do Rio de Janeiro também promove diversas iniciativas que fomentam a cultura de paz nas escolas, a diminuição dos índices de evasão escolar e a difusão dos direitos educacionais.</p>
		</div>
	</div>

	<div id="modal-endereco" class="modal-container">
		<div class="modal">
				<button class="fechar" id="fechar">X</button>
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3675.1526695347247!2d-43.17230052483913!3d-22.90773907925449!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9981e0b5292959%3A0x5112adf6a93dc576!2sAv.%20Mal.%20C%C3%A2mara%2C%20350%20-%206%C2%BA%20andar%20-%20Centro%2C%20Rio%20de%20Janeiro%20-%20RJ%2C%2020020-080!5e0!3m2!1spt-BR!2sbr!4v1700846844714!5m2!1spt-BR!2sbr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
		</div>
	</div>


	<div class="caixas">
		<div class="caixa1">
			<div class="box-caixa1">
				<h2>Atribuições:</h2>
					<button onclick="openModal()"> Clique aqui </button>
			</div>

		</div>
		<div class="caixa2">
			<div class="box-caixa2">
				<h1>Endereço:</h1>
				<p>Para saber onde estamos localizados,clica no botão abaixo</p>
				<button onclick="openModalEndereço()"> Clique aqui </button>
			</div>

		</div>

		<div class="caixa3">
			<div class="box-caixa3">
				<h2>Dados de Contato</h2>
				<div>
					<br>
					<a class="email" href="mailto:?cao.educacao@mprj.mp.br">Envie seu email!</a>
					<br>
					<br>
					<a  class="rede-social" href="https://www.instagram.com/mprj.oficial/" target="_blank"><img class='logoimg'src="assets/imagens/logoMPRJ.jpg"/></a>
				</div>
			</div>

		</div>

	</div>
</main>
