<div class="content">
	<div class="slides">
			<!--radio buttons-->
			<input class="input" type="radio" name="radio-btn" id="slide1" checked/>
			<input class="input" type="radio" name="radio-btn" id="slide2"/>

			<div class="slide s1">
					<a href="https://public.tableau.com/app/profile/cao.educa.o/viz/PanoramadaEducao-V2_0Pacote2/PAPrincipal?publish=yes" target="_blank"><img  src="assets/imagens/panorama.png" style='cursor: pointer;' alt="image1"></a>
			</div>

			<div class="slide" id="programa-text">
					<p>
						O projeto tem por objetivo a reunião, produção, sistematização e divulgação de dados, informações e conhecimento sobre o cenário da política pública educacional, com o propósito de contribuir para o direcionamento estratégico dos esforços empreendidos pelo MPRJ, bem como para o empoderamento dos mecanismos de controle social, essenciais quando estamos tratando de políticas públicas.
						Desenvolvido em duas fases, a primeira fase contempla serviços a serem desenvolvidos pelo MPRJ e a segunda fase,
						desenvolvida posteriormente, contempla o desenvolvimento de um sistema para comunicação individual de exclusão, infrequência e
						evasão escolar com geração de relatórios gerenciais.
					</p>
					<a class="click" href="https://www.mprj.mp.br/documents/20184/1197694/fppea_mprj_2018.00875183_educacao_sem_distincao.pdf" target="_blank">Clique aqui</a>
			</div>
	</div>
</div>

            <div class="navegation">

                <label for="slide1" class="manual-btn"></label>
                <label for="slide2" class="manual-btn"></label>
            </div>





