<div class="modal">
		<p>Garantir o direito à educação básica de qualidade a todos os brasileiros;</p>
		<br>
		<hr>
		<p>Levar ao conhecimento do cidadão informações essenciais sobre seu direito a uma educação de qualidade e seu dever em
			contribuir para o serviço ser ofertado adequadamente;</p>
	<br>
	<hr>
	<p>Identifi car os motivos do baixo Índice de Desenvolvimento da Educação Básica (Ideb);</p>
	<br>
	<hr>
	<p>Acompanhar as políticas públicas e destinação de recursos públicos na educação;</p>
	<br>
	<hr>
	<p>Verifi car a efetividade dos conselhos sociais com atuação na área de educação;</p>
	<br>
</div>
















